{% extends 'base.html' %}

{% block action %}
  <a class="button" href="{{ url_for('mail.index') }}">Volver</a>
{% endblock %}

{% block header %}
  <h1>{% block title %}Enviar correo{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="form-group">
      <label for="email">Correo</label>
      <input name="email" type="email" id="email"/>
    </div>
    <div class="form-group">
      <label for="subject">Asunto</label>
      <input name="subject" type="text" id="subject"/>
    </div>
    <div class="form-group">
      <label for="content">Contenido</label>
      <textarea name="content" id="content"></textarea>
    </div>
    <div class="form-group">
      <button class="button">Enviar</button>
    </div>
  </form>
{% endblock %}
